@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');



*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    /* border:1px solid red; */
}    
body{ min-width: 320px;}


/* 폰트크기 */

h2{
    font-size: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(170, 170, 170);
}
h2 i{
    color: rgb(234, 170, 0);
    font-size: 0.9rem;
    margin-right: 10px;
}
a:link, a:visited{
    color: #000;}
.inner{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

header{
    position: sticky;
    background: #fff;
    width: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    border-bottom:3px solid #1f1f1f;
}
/* ie9에서 sticky 지원안하기에 크로스브라우징하기 */


header .nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    height: 60px;
    padding-bottom: 5px;
}
header p, header a, header .sns a{
    padding: 0 10px;
}
header .sns a{
    padding: 0  0 0 10px;
}
header .sns i{
    font-size: 1.2rem;
} 

/* 언어나브 */
.ul.menu1{
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.menu1 > li {
    width: 100%;
    height: 22px;
    padding: 0 10px;
}
ul.menu1 > li >a{
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.ul.menu1 > li > .sub_menu1 {
    background: #fff;
}
ul.menu1 > li > .sub_menu1> li{
    height: 50px;
    line-height: 50px;
    overflow-y: hidden;
    text-align: center;
    background: #75787b;
}
ul.menu1 > li > .sub_menu1> li:hover{
    color: #fff;
}

.mMenu, .mCloseBt{
    display: none;
}


/* 나브 */
.gnb{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    height: 80px;
   
}
.gnb .logo{
    background: url(../image/SeMA/logo2.png) 50% 50% no-repeat;
    width: 350px;
    height: 60px;
    background-size: contain;
}
.mobinav, .depth1.mobi, .mobitopnav {display: none;}
ul.menu2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

ul.menu2{
    width: 100%;
    height:80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    
}
ul.menu2 > li {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 21px 0;
    
}
 ul.menu2 > li >a{
    width: 100%;
    height:100%;
    line-height: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    padding: 0 0 5px 0 ;
    border-bottom: 5px solid transparent;
}
ul.menu2 > li > .sub_menu2{
    font-size: 1.2rem;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    top:138px;
    left: 0;
    background: rgb(236, 236, 236, 0);
    
}

ul.menu2 > li > .sub_menu2> li{
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    margin-left: 30px;
}
ul.menu2 > li > .sub_menu2> li>a{
    font-size: 17px;
    font-weight: 600;
}
ul.menu2 > li:hover > .sub_menu2> li {
    height: 65px;
    line-height: 65px;
    transition: height 0.3s;
    
} 
ul.menu2 > li:hover > .sub_menu2 {
    border-top: 2px solid #75787b;
    background: #fff;
    box-shadow:  2px 2px 2px  rgba(0, 0, 50, 0.4);
    
}
ul.menu2 > li > .sub_menu2> li a:hover,
ul.menu2 > li:first-child > .sub_menu2> li:first-child a,
ul.menu2 > li:nth-child(2) > .sub_menu2> li:first-child a,
ul.menu2 > li > .sub_menu2> li a:hover.on{
    color: rgb(234, 170, 0);
    
}

ul.menu2 > li > a:hover,
ul.menu2 > li:first-child > a,
ul.menu2 > li > a:hover.on{
    border-bottom-color:rgb(234, 170, 0) ;  
   
}
.sec01, .sec02, .sec03, .sec04, .sec05{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 150px;
}
.sec06{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}
.content{
    width: 100%;}

/* sec01 */

h1{
    font-size: 3rem;
    text-align: center;
    padding: 80px 0 ;
    background: url(../image/SeMA/sub_1/inner07.jpg) 50% 20% no-repeat;
    background-size: cover;
    margin: 7% 0 10% 0;
}


.text h4{
    margin: 7px 0 7px 0;
}
.sec01 > .content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.boxs{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(241, 241, 241);
    text-align: center;
    margin: 1%;
}
.sec01 .boxs{cursor: pointer;}
.boxs .poster{
    width: 220px;
    height: 280px; 
    margin-bottom: 10px;
}

.boxs:first-child .poster{
    background: url(../image/SeMA/sub2/img05.jpg) 50% 50% no-repeat;
    background-size: contain;
}
.boxs:nth-child(2) .poster{
    background: url(../image/SeMA/sub2/img04.jpg) 50% 50% no-repeat;
    background-size: contain;
}
.boxs:nth-child(3) .poster{
    background: url(../image/SeMA/sub2/img01.jpg) 50% 50% no-repeat;
    background-size: contain;
}


/* sec02 */

.sec02  {
    width: 100%;
    height: 320px;
  }
  .sec02 .content{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

.sec02 .content .boxs{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    padding: 2%;
    cursor: pointer;
}

.sec02 .boxs .img{
    width: 270px;
    height: 190px;
    margin-bottom: 5px;
}

.img.s06{
    background: url(../image/SeMA/edu01.gif) 50% 50% no-repeat;
    background-size: contain;
}

.img.s08{
    background: url(../image/SeMA/edu03.jpg) 50% 50% no-repeat;
    background-size: contain;
}





/*sec03*/
.sec03 > .content{
    padding-left: 20px;
}
.sec03 > .content td{
   font-size: 17px;
   padding: 0 30px 10px 0;
   font-weight:600;
   height: 20px;
}
.sec03 > .content table{
    margin-bottom:30px;
}
.sec03 > .content table tr:nth-child(5) td{
    color: rgb(202, 34, 16);
    font-weight:600;
}

.sec03 > .content> span{
    width: 300px;
    height: 20px;
    line-height: 20px;
    background: rgb(234, 170, 0);
    padding: 7px 20px;
    font-size: 17px;
    color: #fff;
    font-weight:500;
}






/*sec04*/
.sec04  .content{
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sec04 span{
    font-size: 17px;
    font-weight:600;
}


/*sec05*/
.sec05 .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sec05 > .content > .boxs{
    width:30%;
    height: 100%;
    padding: 3px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 15px ;
}
.sec05 > .content > .boxs > .img{
    width: 270px;
    height: 171px;
    background: chartreuse;
    margin-top: 15px;
}
.sec05 > .content > .boxs > .text {
    margin: 10px;
}
.sec05 > .content > .boxs > .text > h3{
    margin: 5px 0 10px 0;
    text-align: center;
}
.sec05 > .content > .boxs > .text > span{
    font-size: 13px;
    text-align: center;
}
.sec05 .content .boxs:first-child>.img{
    background: url(../image/SeMA/sub_1/library1.jpg) 50% 50% no-repeat;
}
.sec05 .content .boxs:nth-child(2)>.img{
    background: url(../image/SeMA/sub_1/SeMA\ CAFE+2.png) 50% 50% no-repeat;
    background-size: cover;
}
.sec05 .content .boxs:nth-child(3)>.img{
    background: url(../image/SeMA/sub_1/meetingroom2.gif) 50% 50% no-repeat;
}
.sec05 .content .boxs:nth-child(4)>.img{
    background: url(../image/SeMA/sub_1/room1.gif) 50% 50% no-repeat;
}
.sec05 .content .boxs:nth-child(5)>.img{
    background: url(../image/SeMA/sub_1/restroom.png) 50% 50% no-repeat;
    background-size: cover;
}



/* sec06 */
.sec06 .content iframe{
    width: 500px;
    height: 350px;
}

.sec06 .content{
    padding-left: 20px;
    padding-top: 2%;
}
.sec06 .content .route > div{
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.sec06 .content .route h3{
    margin-bottom: 5px;
}
.sec06 .park table{
    border-collapse: collapse;
    text-align: center;
    width: 700px;
    height: 200px;
    
}

.sec06 .park table td{
    border: 1px solid #000;
}
.sec06 .park table th{
    border: 1px solid #000;
    background: #ddeeff;
}




/* sec07 */
.sec07{
    height: 250px;
    background: rgb(255, 250, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0 70px 0;
}
.sec07 > span{
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 25px;
}
.sec07 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec07 > div .newsletterfrom{
    width: 382px;
    height: 47px;
    background: rgb(224, 224, 224);
    font-size: 17px;
    border:transparent;
}
.sec07 > div .newslettersubmit{
    width: 160px;
    height: 47px;
    background: rgb(240, 58, 38);
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    border: transparent;
}



/*footer*/
footer{
    background: #A7A8A9;
    
}
footer .inner{
    height: 200px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 30px;
}
footer .logo{
    background: url(../image/SeMA/footer_logo_v1.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 160px;
    height: 86px;
}
footer .foot {
    margin-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer .foot span, footer .foot > div{
    font-size: 16px;
    margin-top: 5px;
}
footer .foot > div >span{
    margin-right: 10px;
}
footer .sns i{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 10px;
}

@media all and (max-width: 830px) {
    body{
        background: #fff;
        min-width: 320px;
    }
}
@media (min-width: 831px) and (max-width: 1300px) {
    body{
        background: #fff;
        min-width: 830px;
    }
}   