@charset "UTF-8";
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    /* border:1px solid red; */
}  
body{ min-width: 320px; }
.inner{
    width: 90%;
    margin: 0 auto;}

.inner02{
    width: 80%;
    margin: 0 auto;}



/*header*/
header{
    height: 80px;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
 }
header .logo{
    background: url(../image/ana/logo_black.png) 50% 50% no-repeat;
    background-size: contain;
    width: 200px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
header span.openm{
    color: #abacac;
    font-size: 2.3rem;
    cursor: pointer;   
    margin: 1.1rem;
    padding-right: 0px;
}
header .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 34, 59);
    padding: 120px 0 0 100px;
    transform: translateX(100%);
    transition: transform 0.5s;
    z-index: 1000;
}

header .menu ul li.bt {
    position: fixed;
    top: 50px;
    right: 300px;
    display: block;
}



/*sec01 */
    .swiper-container.banner {
        width: 100%;
        height: 45vh;
      } 
      
      .swiper-slide.banner.vis01{
        background: url(../image/ana/bg/sec01back6.jpg) 50% 50% no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide.banner.vis01 .box .photo01{
        background: url(../image/ana/BANNER/cd.jpg) 50% 50% no-repeat;
        width: 130px;
        height: 130px;
        background-size: cover;
        box-shadow: 2px 2px rgba(255, 255, 255, 0.8);
        margin: 0 1rem 1rem 0;
    }
    .swiper-slide.banner.vis01 .box .text span.newfont{
        color: rgb(245, 245, 245);
        font-size: 1.3rem;
        font-weight: 700;
        text-shadow: 4px 3px 2px rgba(0,0,0,0.7);
        padding-bottom:5px;
        margin-left: 10px;
    }
    .swiper-slide.banner.vis01 .box .text{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
    }
    .swiper-slide.banner.vis01 .box .text .newfont:nth-child(2){
        padding-bottom: 10px;
    }
    .swiper-slide.banner.vis01 .box .text ul.newfont{
        color: rgb(255, 255, 255);
       text-shadow: 2px 3px 3px rgba(0,0,0,0.7);
       padding-left: 10px;
       font-size: 0.7rem;
    }
    .swiper-slide.banner.vis01 .box {
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
        position:absolute;
        top:3rem;
    }
    
    
    .swiper-slide.banner.vis02{
        background: url(../image/ana/bg/b6.jpg) 0% 0% no-repeat;
        background-size: cover;
        height: 100%;
    }
    .swiper-slide.banner.vis02 .photo02{
        background: url(../image/ana/ALBUM/6.jpg) 50% 50% no-repeat;
        width: 150px;
        height: 150px;
        background-size: cover;
        box-shadow: -3px 3px rgba(255, 255, 255, 0.8);
        margin: 1rem 0 1rem 1rem;
    }
    
    .swiper-slide.banner.vis02 .text.newfont{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 10px;
        padding:10px;
        background: rgba(140, 159, 194, 0.5);
    }
    .swiper-slide.banner.vis02 .text.newfont span:first-child{
    font-weight:600;
    font-size: 0.8rem;
    padding-bottom: 10px;
    }
    
    .swiper-slide.banner.vis02 .text.newfont span:nth-child(2){
        font-weight:900;
        font-size: 1.3rem;
        padding-bottom: 10px;
        }
    
    
    .swiper-slide.banner.vis03{
        background: url(../image/ana/bg/p00.png) 0% 0% no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .swiper-slide.banner.vis03 .en{
       font-size: 3.5rem;
       background: linear-gradient(to right, #C9FFBF, #FFAFBD);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       position: absolute;
       top: 65%;
       left: 5%;
    }
    .swiper-slide.banner.vis03 p{
        position: absolute;
        top: 76%;
        left: 6%;
        color: #fff;
        font-size: 0.9rem;
    }
    .swiper-slide.banner.vis03 p sup{
        font-size: 0.5rem;
        color: rgb(209, 238, 255);
    }

/*sec02*/
.sec02{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}
.sec02 h1{
    font-size: 3rem;
    text-align: center;
}
.artists {
    height: auto;
    position:inherit;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 0 60px 0;
    /* top: -110px */
}
.box{
    margin: 5px;
}
.more {
    position: absolute;
    right: 100px;
    bottom: 20px;
}
    .box.b01 {
        background: url(../image/ana/artists/a1.jpg) 50% 50% no-repeat;
        background-size:cover;
        width: 130px;
        height: 130px;
        position: inherit;
        /*top: 30px;
        left: 0px;*/
    }
    .box.b02 {
        background: url(../image/ana/artists/a2.jpg) 50% 50% no-repeat;
        background-size: contain;
        width: 130px;
        height: 130px;
        position: inherit;
        /*top: 0px;
        left: 210px;*/
    }
    .box.b03 {
        background: url(../image/ana/artists/a3.jpg) 50% 50% no-repeat;
        background-size: contain;
        width: 130px;
        height: 130px;
        position: inherit;
       /* top: 0px;
        left:490px;*/
    }
    .box.b04 {
        background: url(../image/ana/bg/p00.png) 50% 0% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
        /*top: 180px;
        left: 210px;*/
    }
    .box.b05 {
        background: url(../image/ana/artists/a5.png) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
        /*top: 240px;
        left: 40px;*/
    }
    .box.b06 {
        background: url(../image/ana/artists/a6.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
       /*top: 410px;
        left: 80px;*/
    }
    .box.b07 {
        background: url(../image/ana/artists/a7.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
       /* top: 360px;
        left:210px;*/
    }
    .box.b08 {
        background: url(../image/ana/artists/a8.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position:inherit;
        top: 360px;
        left:358px;
    }
    .box.b09 {
        background: url(../image/ana/artists/a9.png) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
       /* top: 140px;
        left:490px;*/
    }
    .box.b10 {
        background: url(../image/ana/artists/a10.png) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
       /* top: 260px;
        left:490px;*/
    }
    .box.b11 {
        background: url(../image/ana/artists/a11.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
       /* top: 80px;
        left:390px;*/
    }
    .box.b12 {
        background: url(../image/ana/artists/a12.png) 50% 50% no-repeat;
        background-size: cover;
        width: 130px;
        height: 130px;
        position: inherit;
        top: 505px;
        left:235px;
    }
    .box:hover{
        background-size: 110%;
        transition: all 0.5s; 
    }
    
    .box p{
        display: none;
        color: #fff;
        text-align: center;
    }
    .box.b01:hover p {
        display: block;
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
    }
    .box.b02:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b03:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b09:hover p,.box.b12:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b04:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b05:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0, 0, 0, 0.4);
        display: block;
    }
    .box.b06:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b07:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b08:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b10:hover p, .box.b11:hover p{
        height: 150px;
        line-height: 150px;
        background: rgba(0, 0, 0, 0.4);
        display: block;
    }
    .more::before{
        content: "";
        width: 40px;
        height: 4px;
        background:rgb(59, 110, 146);
        position: absolute;
        bottom: 0;
    }
    .more:hover::before{
        content: "";
        width: 60px;
        height: 4px;
        background:rgb(59, 110, 146);
        position: absolute;
        transition: width 0.3s;
    }
    .more{
        position: absolute;
        
    }


    .swiper-slide.alb {
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
      }





    .sec04 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        height: auto;
        padding: 50px 0;
  
    }
  .sec04 h2{
        font-size: 3rem;
        text-align: center;
    }
  .sec04 .right h2{
      color: rgb(243, 243, 243);
  }
  .sec04 .boxright{
      margin-left: 20px;
      padding:10px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width:250px;
      height: auto;
      border: 1px solid rgb(119, 151, 173);
  }
  
  #calendar{
        width: 400px;
        height: 500px;
        border:1px solid rgb(185, 185, 185);
        padding: 10px;
        z-index: 1000;
    }





    .fc .fc-button {
        padding: 0.01em 0.001em; 
        
    }






/*sec03*/
.sec03{
    background-size: cover;
    background-color: #ebebeb;
    width: 100%;
    height: auto;
}
    .sec03 .inner h2{
        font-size: 3rem;
        padding-top: 30px;
    }
    .swiper-slide.alb {
        background-position: center;
        background-size: cover;
        width: 150px;
        height: 150px;
      }

      .list span{
        width: 300px;
        font-size: 0.9rem;
    }



/*sec04*/
    .sec04 .boxright{
        margin: 20px;
        padding:10px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        width: 300px;
        height: 300px;
        border: 1px solid rgb(119, 151, 173);
    }
      
    #calendar{
        width: 300px;
        height: 300px;
        border:1px solid rgb(185, 185, 185);
        padding: 10px;
        margin: 20px;
    }
      
    

/*sec05*/
.sec05{
    padding: 50px 0 0 0;
}


.sec05 .tab ul li{
    height: 100px;
    line-height: 100px;
    padding: 0px 40px;
    margin: 0 0 0 2px;
    /* font-weight: 800; */
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 3px 4px rgba(136, 136, 136, 0.5);
    position: relative;
    cursor: pointer;
}


.sec05 .tab ul li.on::after{
    width: 100%;
    height: 5px;
    background: rgb(0, 34, 59);
    content: "";
    position: absolute;
    top: 70px;
    left: 0;
}

.sec05 .tab ul li:hover::after{ background: rgb(59, 110, 146); }
.sec05 .tab .conBox{
    display: none;
    width: 100%;
    height: 400px;
    /* background:rgb(248, 248, 248); */
    padding: 0px;
    color: #333;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid rgb(0, 34, 59, 0.5); */
  
}






/*footer*/
footer .inner .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}