@charset "UTF-8";
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    /* border:1px solid red; */
}  
body{ min-width: 320px; }
.inner{
    width: 90%;
    margin: 0 auto;}

.inner02{
    width: 80%;
    margin: 0 auto;}


/*sec01 */
    .swiper-container.banner {
        width: 100%;
        height: 60vh;
      } 
      
      .swiper-slide.banner.vis01{
        background: url(../image/ana/bg/sec01back6.jpg) 50% 50% no-repeat;
        background-size: cover;
        height: 100%;
    }
    
    .swiper-slide.banner.vis01 .box .photo01{
        background: url(../image/ana/BANNER/cd.jpg) 50% 50% no-repeat;
        width: 250px;
        height: 250px;
        background-size: contain;
        box-shadow: 10px 10px rgba(255, 255, 255, 0.8);
        margin: 0 1rem 1rem 0;
    }
    .swiper-slide.banner.vis01 .box .text span.newfont{
        color: rgb(245, 245, 245);
        font-size: 2.3rem;
        font-weight: 700;
        text-shadow: 4px 3px 2px rgba(0,0,0,0.7);
        padding-bottom:5px
    }
    .swiper-slide.banner.vis01 .box .text{
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .swiper-slide.banner.vis01 .box .text .newfont:nth-child(2){
        padding-bottom: 30px;
    }
    .swiper-slide.banner.vis01 .box .text ul.newfont{
        color: rgb(255, 255, 255);
       text-shadow: 2px 3px 3px rgba(0,0,0,0.7);
       padding-left: 20px;
    }
    .swiper-slide.banner.vis01 .box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position:absolute;
        top: 10rem;
    }
    
    
    .swiper-slide.banner.vis02{
        background: url(../image/ana/bg/b6.jpg) 0% 0% no-repeat;
        background-size: cover;
        height: 100%;
        /*display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;*/
    }
    .swiper-slide.banner.vis02 .photo02{
        background: url(../image/ana/ALBUM/6.jpg) 50% 50% no-repeat;
        width: 250px;
        height: 250px;
        background-size: contain;
        box-shadow: -10px 10px rgba(255, 255, 255, 0.8);
        margin: 1rem 1rem 1rem 0;
    }
    
    .swiper-slide.banner.vis02 .text.newfont{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 20px;
        padding:30px;
        background: rgba(140, 159, 194, 0.5);
    }
    .swiper-slide.banner.vis02 .text.newfont span:first-child{
    font-weight:600;
    font-size: 1.1rem;
    padding-bottom: 10px;
    }
    
    .swiper-slide.banner.vis02 .text.newfont span:nth-child(2){
        font-weight:900;
        font-size: 2rem;
        padding-bottom: 10px;
        }
    
    
    
    
    .swiper-slide.banner.vis03{
        background: url(../image/ana/bg/p00.png) 0% 0% no-repeat;
        background-size: cover;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .swiper-slide.banner.vis03 .en{
       font-size: 6.5rem;
       background: linear-gradient(to right, #C9FFBF, #FFAFBD);
       -webkit-background-clip: text;
       background-clip: text;
       -webkit-text-fill-color: transparent;
       position: absolute;
       top: 70%;
       left: 7%;
    }
    .swiper-slide.banner.vis03 p{
        position: absolute;
        top: 85%;
        left: 8%;
        color: #fff;
        font-size: 1.3rem;
    }
    .swiper-slide.banner.vis03 p sup{
        font-size: 1rem;
        color: rgb(209, 238, 255);
    }
    
    

/*sec02*/
.sec02 h1{
    font-size: 80px;
    text-align: center;
}
.artists{
    height: 580px;
    position: relative;
    /* top: -110px */
}
    .box.b01 {
        background: url(../image/ana/artists/a1.jpg) 50% 50% no-repeat;
        background-size:cover;
        width: 200px;
        height: 200px;
        position: absolute;
        top: 30px;
        left: 15px;
    }
    .box.b02 {
        background: url(../image/ana/artists/a2.jpg) 50% 50% no-repeat;
        background-size: contain;
        width: 170px;
        height: 170px;
        position: absolute;
        top: 0px;
        left: 225px;
    }
    .box.b03 {
        background: url(../image/ana/artists/a3.jpg) 50% 50% no-repeat;
        background-size: contain;
        width: 140px;
        height: 140px;
        position: absolute;
        top: 0px;
        left:505px;
    }
    .box.b04 {
        background: url(../image/ana/artists/01.jpg) 50% 0% no-repeat;
        background-size: cover;
        width:270px;
        height: 170px;
        position: absolute;
        top: 180px;
        left: 225px;
    }
    .box.b05 {
        background: url(../image/ana/artists/a5.png) 50% 50% no-repeat;
        background-size: cover;
        width: 160px;
        height: 160px;
        position: absolute;
        top: 240px;
        left: 55px;
    }
    .box.b06 {
        background: url(../image/ana/artists/a6.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 360px;
        left: 373px;
    }
    .box.b07 {
        background: url(../image/ana/artists/a7.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 135px;
        height: 135px;
        position: absolute;
        top: 360px;
        left:225px;
    }
    .box.b08 {
        background: url(../image/ana/artists/a8.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 190px;
        height: 190px;
        position: absolute;
        top: 280px;
        left:505px;
    }
    .box.b09 {
        background: url(../image/ana/artists/a9.png) 50% 50% no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 150px;
        left:505px;
    }
    .box.b10 {
        background: url(../image/ana/artists/a10.png) 50% 50% no-repeat;
        background-size: cover;
        width: 90px;
        height: 90px;
        position: absolute;
        top: 410px;
        left:125px;
    }
    .box.b11 {
        background: url(../image/ana/artists/a11.jpg) 50% 50% no-repeat;
        background-size: cover;
        width: 90px;
        height: 90px;
        position: absolute;
        top: 80px;
        left:405px;
    }
    .box.b12 {
        background: url(../image/ana/artists/a12.png) 50% 50% no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        position: absolute;
        top: 150px;
        left:635px;
    }
    .box:hover{
        background-size: 110%;
        transition: all 0.5s; 
    }
    
    .box p{
        display: none;
        color: #fff;
        text-align: center;
    }
    .box.b01:hover p{
        display: block;
        height: 200px;
        line-height:200px;
        background: rgba(0,0,0,0.4);
    }
    .box.b02:hover p{
        height: 170px;
        line-height: 170px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b03:hover p{
        height: 140px;
        line-height: 140px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b09:hover p,.box.b12:hover p{
        height: 120px;
        line-height: 120px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b04:hover p{
        height: 170px;
        line-height: 170px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b05:hover p{
        height: 160px;
        line-height: 160px;
        background: rgba(0, 0, 0, 0.4);
        display: block;
    }
    .box.b06:hover p{
        height: 120px;
        line-height: 120px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b07:hover p{
        height: 130px;
        line-height: 130px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b08:hover p{
        height: 190px;
        line-height: 190px;
        background: rgba(0,0,0,0.4);
        display: block;
    }
    .box.b10:hover p, .box.b11:hover p{
        height: 90px;
        line-height: 90px;
        background: rgba(0, 0, 0, 0.4);
        display: block;
    }
    .more::before{
        content: "";
        width: 40px;
        height: 4px;
        background:rgb(59, 110, 146);
        position: absolute;
        bottom: 0;
    }
    .more:hover::before{
        content: "";
        width: 60px;
        height: 4px;
        background:rgb(59, 110, 146);
        position: absolute;
        transition: width 0.3s;
    }


    .sec04 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        height: auto;
        padding: 50px 0;
  
    }
  .sec04 h2{
        font-size: 3rem;
        text-align: center;
    }
  .sec04 .right h2{
      color: rgb(243, 243, 243);
  }
  .sec04 .boxright{
    margin-left: 50px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 300px;
    height: auto;
    overflow-y: scroll;
    border: 1px solid rgb(119, 151, 173);
}
  
#calendar{
    width: 400px;
    height: 400px;
    border:1px solid rgb(185, 185, 185);
    padding: 10px;
    z-index: 1000;
}
  





/*sec03*/
    .sec03 .inner h2{
        font-size: 50px;
        padding-top: 80px;
    }
    .swiper-slide.alb {
        background-position: center;
        background-size: cover;
        width: 220px;
        height: 220px;
      }

      .list span{
        width: 300px;
        font-size: 0.9rem;
    }



/*sec05*/
.sec05{
    padding: 50px 0 0 0;
}
