@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    /* border:1px solid red; */
}    
body{ min-width: 320px;}

a:link, a:visited{
    color: #000;}
.inner{
    width: 90%;
    margin: 0 auto;
}
.mobi.inner{
    width: 100%;
}

header{
    position: sticky;
    background: #fff;
    width: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    border-bottom: 2px solid #1f1f1f;
}
header .topnav .sns{ display: none;}
/* ul.menu2{display: none;} */

/* 모바일 탑 */

header p, header span, header .sns a{
    padding: 0 10px;
}
header .sns a{
    padding: 0  0 0 10px;
}
header .sns i{
    font-size: 1.2rem;
} 

/* 모바일나브 */

header .topnav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 0px;
}
.topnav .nav{display: none;}
.mobinav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
}

.mobinav a.logo{
    background: url(../image/SeMA/logo2.png) 50% 50% no-repeat;
    width: 40%;
    height: 40px;
    background-size: contain;
}
.mobinav i{
    display: block;
    font-size: 2.2rem;
}

.depth1.mobi {display: inline-block;}

 .gnb{
  display: none;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: rgb(245, 245, 245);
    border-top: 2px solid #1f1f1f;

} 
.gnb.on{  display: inline-block;}
.gnb>a{display: none;}
.gnb .logo{
    background: url(../image/SeMA/logo2.png) 50% 50% no-repeat;
    width: 350px;
    height: 60px;
    background-size: contain;
    display: none;
}

.mobitopnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: rgb(234, 170, 0);
}
.mobitopnav a{
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 1%;
    border: 1px solid rgb(230, 230, 230);
}
.mCloseBt, .mCloseBt.on{
    font-size: 1.3rem;
}

.mobitopnav i{
    font-size: 1.3rem;
    margin-right: 2%;
}

ul.menu2, ul.menu2
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

ul.menu2 > li,.depth1.mobi {
    margin-left:0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    width: 100%;
}

 ul.menu2 > li >a{
    width: 80%;
    height:100%;
    line-height: 100%;
    text-align:left;
    font-size: 17px;
    font-weight: 700;
    padding: 0 0 5px 5% ;
}

ul.menu2 > li > .sub_menu2{
    font-size: 1.2rem;
    display: flex;
    position:unset;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    top:138px;
    left: 0;
    background: rgb(236, 236, 236, 0);
    
}

ul.menu2 > li > .sub_menu2> li{
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    width: 100%;
    border-left: 2px solid rgb(129, 129, 129);
    
}

ul.menu2 > li:hover > .sub_menu2> li{
    height: 40px;
    line-height: 40px;
    transition: height 0.3s;
} 

ul.menu2 > li:hover > .sub_menu2 {
    border-top:none;
    background: #fff;
    box-shadow: none;
    width: 100%;
}
ul.menu2 > li > .sub_menu2> li:hover{
    color: rgb(234, 170, 0);
    width: 100%;
    background: rgb(27, 27, 27, 0.7);
}

ul.menu2 > li > div:hover{
    border-right-color:none;
}
ul.menu2 > li > a:hover,
ul.menu2 > li > a:hover.on{
    border-bottom-color:transparent ;  
}

/* 폰트크기 */

h2{
    font-size: 18x;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    padding: 10% 0;
    background: url(../image/SeMA/sub_1/inner07.jpg) 50% 20% no-repeat;
    background-size: cover;
    margin: 8% 0 12% 0;
}
.sec01, .sec02, .sec03, .sec04, .sec05{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 150px;
}
.sec06{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 50px;
}

h2{
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(170, 170, 170);
}

/* sec01  */

.sec01 > .content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boxs{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(241, 241, 241);
    text-align: center;
    margin: 1%;
}
.sec02  {
    width: 100%;
    height: 100%;
  }
.sec02 .content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height:100%;
} 
.sec02 .boxs .img{
    width: 100%;
    /* height: 190px; */
}
.sec02 .content .boxs{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  padding: 2%;}
/*sec03*/
 .sec03 > .content{
    padding-left: 0px;
    width: 100%;
} 

/*sec04*/
 .sec04  .content{
    width: 100%;
} 
/*sec05*/
 .sec05 .content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.sec05 > .content > .boxs > .img{
   width: 100%;
    height: 171px;
    background: chartreuse;
    margin-top: 15px;
}
.sec05 > .content > .boxs{
    /* width:100%; */
    height: 100%;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 1% ;
} 

/* sec06 */
 .sec06 .content{
    padding-left: 0px;
    width: 100%;
}
.sec06 .content iframe{
    width: 100%;
}
.sec06 .park table{
    width: 100%;
    height: 100%;
    
}

.sec07 div .newsletterfrom{
    width: 100%;
    height: 30px;
    background: rgb(224, 224, 224);
    font-size: 14px;
    border:transparent;
}
.sec07 div .newslettersubmit{
    width: 100px;
    height: 30px;
    background: rgb(240, 58, 38);
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border: transparent;
}
.sec07  span{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 25px;
}

footer .inner{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}
footer .foot {
    margin-left: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}
