@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');



*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    /* border:1px solid red; */
}    
body{ min-width: 320px;}


/* 폰트크기 */
h1{
    font-size: 35px;
}
h2{
    font-size: 20px;
}

a:link, a:visited{
    color: #000;}
.inner{
    width: 1300px;
    margin: 0 auto;
}

header{
    position: sticky;
    background: #fff;
    width: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    border-bottom:3px solid #1f1f1f;
}
/* ie9에서 sticky 지원안하기에 크로스브라우징하기 */


header .topnav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    height: 60px;
    padding-bottom: 5px;
}
header p, header span, header .sns a{
    padding: 0 10px;
}
header .sns a{
    padding: 0  0 0 10px;
}
header .sns i{
    font-size: 1.2rem;
} 

/* 언어나브 */
.ul.menu1{
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.menu1 > li {
    width: 100%;
    height: 22px;
    padding: 0 10px;
}
ul.menu1 > li >a{
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.ul.menu1 > li > .sub_menu1 {
    background: #fff;
}
ul.menu1 > li > .sub_menu1> li{
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    
}
/* ul.menu1 > li:hover > .sub_menu1> li{
    height: 30px;
    line-height: 30px;
    transition: height 0.5s;
    background: #75787b;
} */




/* 나브 */
.gnb{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    height: 80px;
   
}
.gnb .logo{
    background: url(/image/SeMA/logo2.png) 50% 50% no-repeat;
    width: 350px;
    height: 60px;
    background-size: contain;
}
.mobinav i{display: none;}
ul.menu2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

ul.menu2{
    width: 100%;
    height:80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    
}
ul.menu2 > li {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 21px 0;
    
}
 ul.menu2 > li >a{
    width: 100%;
    height:100%;
    line-height: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    padding: 0 0 5px 0 ;
    border-bottom: 5px solid transparent;
}
ul.menu2 > li > .sub_menu2{
    font-size: 1.2rem;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    top:138px;
    left: 0;
    background: rgb(236, 236, 236, 0);
    
}

ul.menu2 > li > .sub_menu2> li{
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    
}
ul.menu2 > li:hover > .sub_menu2> li{
    height: 55px;
    line-height: 55px;
    transition: height 0.3s;
    
} 
ul.menu2 > li:hover > .sub_menu2 {
    border-top: 2px solid #75787b;
    background: #fff;
    box-shadow:  2px 2px 2px  rgba(0, 0, 50, 0.4);
    
}
ul.menu2 > li > .sub_menu2> li:hover{
    color: rgb(234, 170, 0);
    
}

ul.menu2 > li > div:hover{
    border-bottom-color:rgb(234, 170, 0) ;
   
}


.inner{
    position: relative;
}
/* .inner .top{
    text-align: center;
} */
h1{
    text-align: center;
    padding: 100px 0 ;
    background: url(/image/SeMA/sub_2/display.jpg) 50% 55% no-repeat;
    background-size: cover;
    margin: 30px 0 40px 0;
}
h1::before{
    content: "";
    width: 150px;
    height: 3px;
    background: #000;
    position: absolute;
    top:180px;
    left: 575px;
}









/* sec01 */





















/* sec03 */
.sec03{
    height: 320px;
    background: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px 0;
}
.sec03 > span{
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 25px;
}
.sec03 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec03 > div .newsletterfrom{
    width: 382px;
    height: 47px;
    background: rgb(224, 224, 224);
    font-size: 17px;
    border:transparent;
}
.sec03 > div .newslettersubmit{
    width: 160px;
    height: 47px;
    background: rgb(240, 58, 38);
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    border: transparent;
}


/*footer*/
footer{
    background: rgb(117, 120, 123);
    
}
footer .inner{
    height: 200px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 30px;
}
footer .logo{
    background: url(/image/SeMA/footer_logo_v1.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 160px;
    height: 86px;
}
footer .foot {
    margin-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer .foot span, footer .foot > div{
    font-size: 16px;
    margin-top: 5px;
}
footer .foot > div >span{
    margin-right: 10px;
}
footer .sns i{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 10px;
}


@media all and (max-width: 959px) {
    body{
        background: #fff;
        min-width: 320px;
    }
}
@media (min-width: 960px) and (max-width: 1920px) {
    body{
        background: green;
        min-width: 640px;
    }
}  