@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    /* border:1spx solid red; */
}    
body{ min-width: 320px;}
:root{
    font-family: 'Noto Sans KR', sans-serif;
}
h1.font{
    font-family: 'Stylish', sans-serif;
}
/* 폰트크기 */
h1{
    font-size: 35px;
}
h2{
    font-size: 20px;
}

a:link, a:visited{
    color: #000;}
.inner{
    width: 1300px;
    margin: 0 auto;
}

header{
    position: sticky;
    background: #fff;
    width: 100%;
    z-index: 1000;
    top:0;
    left: 0;
    border-bottom:3px solid #1f1f1f;
    
}
/* ie9에서 sticky 지원안하기에 크로스브라우징하기 */


header .nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-end;
    height: 60px;
    padding-bottom: 5px;
    position: relative;
    z-index: 10000;
}
header p, header a, header .sns a{
    padding: 0 10px;
}
header .sns a{
    padding: 0  0 0 10px;
}
header .sns i{
    font-size: 1.2rem;
} 

/* 언어나브 */
.ul.menu1{
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.menu1 > li {
    width: 100%;
    height: 22px;
    padding: 0 10px;
}
ul.menu1 > li >a{
    width: 100%;
    height: 22px;
    line-height: 22px;
    text-align: center;
}
.ul.menu1 > li > .sub_menu1 {
    background: #fff;
}
ul.menu1 > li > .sub_menu1> li{
    height: 50px;
    line-height: 50px;
    overflow-y: hidden;
    text-align: center;
    background: #75787b;
}
ul.menu1 > li > .sub_menu1> li:hover{
    color: #fff;
}

.mMenu, .mCloseBt{
    display: none;
}


/* 나브 */
.gnb{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    height: 80px;
   
}
.gnb .logo{
    background: url(../image/SeMA/logo2.png) 50% 50% no-repeat;
    width: 350px;
    height: 60px;
    background-size: contain;
}
.mobinav, .depth1.mobi, .mobitopnav {display: none;}
ul.menu2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

ul.menu2{
    width: 100%;
    height:80px;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
    
}
ul.menu2 > li {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 21px 0;
    
}
 ul.menu2 > li >a{
    width: 100%;
    height:100%;
    line-height: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    padding: 0 0 5px 0 ;
    border-bottom: 5px solid transparent;
}
ul.menu2 > li > .sub_menu2{
    font-size: 1.2rem;
    display: flex;
    position: fixed;
    justify-content: center;
    width: 100%;
    top:138px;
    left: 0;
    background: rgb(236, 236, 236, 0);
    
}

ul.menu2 > li > .sub_menu2> li{
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    margin-left: 30px;
}
ul.menu2 > li > .sub_menu2> li>a{
    font-size: 17px;
    font-weight: 600;
}
ul.menu2 > li:hover > .sub_menu2> li {
    height: 65px;
    line-height: 65px;
    transition: height 0.3s;
    
} 
ul.menu2 > li:hover > .sub_menu2 {
    border-top: 2px solid #75787b;
    background: #fff;
    box-shadow:  2px 2px 2px  rgba(0, 0, 50, 0.4);
    
}
ul.menu2 > li > .sub_menu2> li a:hover,
ul.menu2 > li:first-child > .sub_menu2> li:first-child a,
ul.menu2 > li:nth-child(2) > .sub_menu2> li:first-child a,
ul.menu2 > li > .sub_menu2> li a:hover.on{
    color: rgb(234, 170, 0);
    
}

ul.menu2 > li > a:hover,
ul.menu2 > li:first-child > a,
ul.menu2 > li > a:hover.on{
    border-bottom-color:rgb(234, 170, 0) ;  
   
}

/*sec01*/
.sec01{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

/* swiper */
.sec01 .swiper-container.visual{
    width: 100%;
    height: 500px;
}
.swiper-slide.visual01{
    background: url(../image/SeMA/visual2nobuttombackground.jpg)50% 50% no-repeat;
    background-size: cover;
}
.swiper-slide.visual02{
    background: url(../image/SeMA/displayvisual2_2back.jpg)50% 50% no-repeat;
    background-size: cover;
}

.visual .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
}
:root {
    --swiper-theme-color: rgb(234, 170, 0);
}
.swiper-slide.visual01 a .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.swiper-slide.visual01 a .background div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.background div p{
    font-size: 18px;
    margin: 5px 0 5px 0;
}
.background div h2{
    margin: 5px 0 5px 0;
}
.background div h1{
    margin: 12px 0 12px 0;
}
.swiper-slide.visual02 .background div h1.font{
    font-size: 3rem;
}
.swiper-slide.visual02 .background div{
    color: #fff;
}
/* .swiper-slide.visual01 a .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  */
.swiper-slide.visual02 a .background div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: 100%;
    margin: 9%;
}
/*sec02*/
.sec02{
    height: auto;
    background: rgb(255, 250, 238);
    padding: 20px 0 30px 0;
}
.sec02 .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #161616;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sec02 .top > h1 > i{
    font-size: 2.2rem;
}
.sec02 .top > a{
    font-size: 18px;
    font-weight: 700;
    background: rgb(234, 170, 0);
    /* width: 200px; */
    height: 40px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec02 .textbox{
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
}

.sec02 .textbox .left{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    padding: 2% 0 2% 0;
    background-color: rgb(252, 233, 182);
    border: 1px solid rgb(234, 170, 0);
}
.sec02 .textbox .left > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
}
.sec02 .textbox .left > h2{
    color: rgb(231, 7, 7);
}
.sec02 .textbox .left div > p{
    color: #000;
}
.sec02 .textbox .right{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(234, 170, 0);
}
.sec02 .textbox .right> div> h2{
    color: #000;
}
.sec02 .textbox .right > div{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around;
    padding:6px 6px 0 6px;
    margin-top: 1%;
}
.sec02 .textbox .right > div > span{
    font-size: 17px;
    color: #000;
}



/* .sec03 */
.sec03{
    margin-top: 20px;
}
.sec03 .top, .sec04 .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #161616;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sec03 .top i, .sec04 .top i{
    font-size: 2rem;
    margin-right: 10px;
}
/* .sec03 .display{
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
} */

.sec03 .display > div > .img{
    width: 280px;
    height: 340px;
    /* background: #000; */
    margin-bottom: 10px;
}
.sec03 .display > div > .text > h4,
.sec04 .edu > .boxs> .text > h4{
    margin-top: 5px;
    margin-bottom: 5px;
}
.swiper-container.display {
    width: 100%;
    height: 100%;
  }

  .swiper-slide.display {
    text-align: center;
    /* font-size: 18px; */
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/* .display .swiper-button-next{
    width: 10px;
    height: 10px;
} */

.img.s01{
    background: url(../image/SeMA/sub2/img01.jpg) 50% 50% no-repeat;
    background-size: contain;
}

.img.s02{
    background: url(../image/SeMA/sub2/img02.jpg) 50% 50% no-repeat;
    background-size: contain;
}

.img.s03{
    background: url(../image/SeMA/sub2/img03.png) 50% 50% no-repeat;
    background-size: contain;
}

.img.s04{
    background: url(../image/SeMA/sub2/img04.jpg) 50% 50% no-repeat;
    background-size: contain;
}

.img.s05{
    background: url(../image/SeMA/sub2/img05.jpg) 50% 50% no-repeat;
    background-size: contain;
}
.sec03 .boxs{
    background: rgb(241, 241, 241);
    padding: 10px;
    cursor: pointer;
}


  
/* sec04 */

.sec04{
    margin-top: 35px;
    background: rgb(255, 250, 238);
    padding: 20px 0;
    /* height: 400px; */
}

.sec04 .inner{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
}
.sec04 .inner .eduevent{
    width: 730px;
    height: 100%;
}
.swiper-container.edu {
    width: 100%;
    height: 320px;
  }
  .swiper-slide.edu .boxs{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    text-align: center;
    /* cursor: pointer;
    display: flex;
    align-items: flex-end;
    overflow: hidden; */
}

.swiper-slide.edu .boxs .img{
    width: 270px;
    height: 190px;
}


.sec04 .inner .online{
    width: 500px;
    height: 100%;
}
.swiper-container.video {
    width: 100%;
    height: 320px;
  }
.swiper-slide.video {
display: flex;
justify-content: center;
}
.swiper-slide.video iframe{
    width: 350px;
    height: 250px;
}

.img.s06{
    background: url(../image/SeMA/edu01.gif) 50% 50% no-repeat;
    background-size: contain;
}

.img.s07{
    background: url(../image/SeMA/edu02.jpg) 50% 50% no-repeat;
    background-size: contain;
}

.img.s08{
    background: url(../image/SeMA/edu03.jpg) 50% 50% no-repeat;
    background-size: contain;
}

/* sec05 */
.sec05{
    height: 130px;
    margin: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 3px solid #161616;
    border-bottom: 3px solid #161616;
}
.sec05 h1{
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.sec05 div{
    font-size: 18px;
}

body {
    position: relative;
    /* height: 100%; */}

.swiper-container.notice {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

.swiper-slide.notice {
        text-align: center;
        font-size: 18px;
        background: rgb(248, 248, 248);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
/* .notice.swiper-container-vertical > .swiper-pagination-bullets{
    right: -850px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  
} */





/* sec06 */
.sec06{
    height: 200px;
    background: rgb(255, 250, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.sec06 .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec06 .inner span{
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 25px;
}
.sec06 .inner > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec06 .inner > div .newsletterfrom{
    width: 382px;
    height: 47px;
    background: rgb(224, 224, 224);
    font-size: 17px;
    border:transparent;
}
.sec06 .inner > div .newslettersubmit{
    width: 160px;
    height: 47px;
    background: rgb(240, 58, 38);
    font-size: 19px;
    font-weight: 700;
    color: #fff;
    border: transparent;
}


/*footer*/
footer{
    background: rgb(140, 130, 121);
    
}
footer .inner{
    height: 200px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 30px;
}
footer .logo{
    background: url(../image/SeMA/footer_logo_v1.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 160px;
    height: 86px;
}
footer .foot {
    margin-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
footer .foot span, footer .foot > div{
    font-size: 16px;
    margin-top: 5px;
}
footer .foot > div >span{
    margin-right: 10px;
}
footer .sns i{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-right: 10px;
}

@media all and (max-width: 830px) {
    body{
        background: #fff;
        min-width: 320px;
    }
}
@media (min-width: 831px) and (max-width: 1300px) {
    body{
        background: #fff;
        min-width: 830px;
    }
}   
